gtts
streamlit
transformers
pillow
pdfplumber
python-dotenv
google-generativeai
pyttsx3
speechrecognition
pydub
streamlit-mic-recorder
beautifulsoup4
torch
pymupdf
sentencepiece
sacremoses